Repository WillingToGoHome/GymGa-Project, pull requests merged in 2024-05, with the labels that each got.

#11 [FEATURE]-[CSS]-Header, Footer, Navbar HTML, CSS 추가
  src/main/java/com/willingtogohome/gymga/sche/controller/ScheController.java
  src/main/resources/static/images/Alarm.png
  src/main/resources/static/images/Gear.png
  src/main/resources/static/images/Logout.png
  src/main/resources/static/images/매출조회.png
  src/main/resources/static/images/시설관리.png
  src/main/resources/static/images/윤수빈.png
  src/main/resources/static/images/이용권관리.png
  src/main/resources/static/images/일정관리.png
  src/main/resources/static/images/직원조회.png
  src/main/resources/static/images/회원조회.png
  src/main/resources/static/index.html
  src/main/resources/static/styles/footerStyle.css
  src/main/resources/static/styles/headerStyle.css
  src/main/resources/static/styles/mainStyle.css
  src/main/resources/static/styles/navbarStyle.css
  src/main/resources/templates/common/footer.html
  src/main/resources/templates/common/header.html
  src/main/resources/templates/common/navbar.html
  src/main/resources/templates/facility.html
  src/main/resources/templates/main.html
  src/main/resources/templates/schedule.html
Labels: 🎨 Html&css

#21 [FEATRUE][SaleMain]
  src/main/java/com/willingtogohome/gymga/sale/controller/SaleController.java
  src/main/resources/mappers/sale/SalesMapper.xml
  src/main/resources/static/styles/headerStyle.css
  src/main/resources/static/styles/mainStyle.css
  src/main/resources/static/styles/salesStyle.css
  src/main/resources/templates/sale/main.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#24 [Feature][user] 회원 관리 메인 페이지
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/user/model/dao/UserMapper.java
  src/main/java/com/willingtogohome/gymga/user/model/dto/PhysicalDTO.java
  src/main/java/com/willingtogohome/gymga/user/model/dto/SearchCriteria.java
  src/main/java/com/willingtogohome/gymga/user/model/dto/UserDTO.java
  src/main/java/com/willingtogohome/gymga/user/model/dto/UserTotDTO.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/dto/PainDTO.java
  src/main/java/com/willingtogohome/gymga/user/service/UserService.java
  src/main/resources/mappers/UserMapper.xml
  src/main/resources/static/css/footerStyle.css
  src/main/resources/static/css/headerStyle.css
  src/main/resources/static/css/navbarStyle.css
  src/main/resources/static/css/regist.css
  src/main/resources/static/css/selectAll.css
  src/main/resources/static/img/Alarm.png
  src/main/resources/static/img/Back.png
  src/main/resources/static/img/Gear.png
  src/main/resources/static/img/Logout.png
  src/main/resources/static/img/User.png
  src/main/resources/static/img/매출조회.png
  src/main/resources/static/img/시설관리.png
  src/main/resources/static/img/윤수빈.png
  src/main/resources/static/img/이용권관리.png
  src/main/resources/static/img/일정관리.png
  src/main/resources/static/img/직원조회.png
  src/main/resources/static/img/회원조회.png
  src/main/resources/templates/common/footer.html
  src/main/resources/templates/common/header.html
  src/main/resources/templates/common/navbar.html
  src/main/resources/templates/user/delete.html
  src/main/resources/templates/user/regist.html
  src/main/resources/templates/user/search.html
  src/main/resources/templates/user/selectAll.html
  src/main/resources/templates/user/selectDetail.html
Labels: 🎨 Html&css, :pager: BackEnd

#27 [FEATURE][LOGIN2] 로그인 페이지
  build.gradle
  src/main/java/com/willingtogohome/gymga/fac/controller/FacController.java
  src/main/java/com/willingtogohome/gymga/login/auth/controller/AuthController.java
  src/main/java/com/willingtogohome/gymga/login/auth/controller/MainController.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/AuthDetails.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/service/AuthService.java
  src/main/java/com/willingtogohome/gymga/login/common/UserRole.java
  src/main/java/com/willingtogohome/gymga/login/config/MybatisConfig.java
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/java/com/willingtogohome/gymga/login/config/SpringConfig.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/AuthFailHandler.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/AuthSuccessHandler.java
  src/main/java/com/willingtogohome/gymga/login/controller/LoginController.java
  src/main/java/com/willingtogohome/gymga/login/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dao/LoginMapper.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dto/LoginDTO.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dto/RegistDTO.java
  src/main/java/com/willingtogohome/gymga/login/user/model/service/UserService.java
  src/main/resources/application.yml
  src/main/resources/mappers/login/LoginMapper.xml
  src/main/resources/static/images/chk.png
  src/main/resources/static/images/loginImage1.png
  src/main/resources/static/styles/LoginStyle.css
  src/main/resources/templates/login.html
  src/main/resources/templates/login/admin/admin.html
  src/main/resources/templates/login/admin/essential1.html
  src/main/resources/templates/login/admin/regist.html
  src/main/resources/templates/login/auth/fail.html
  src/main/resources/templates/login/auth/selectby.html
  src/main/resources/templates/login/user/user.html
Labels: 🥰 Accessibility, 🐞 BugFix, ✨ Feature, 🎨 Html&css, :pager: BackEnd

#22 [FEATURE][SCHEDULE] 일정관리 -> [DEVELOP] 중간 점검
  build.gradle
  src/main/java/com/willingtogohome/gymga/GymGaProjectApplication.java
  src/main/java/com/willingtogohome/gymga/login/auth/controller/MainController.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/AuthDetails.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/service/AuthService.java
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/AuthFailHandler.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/AuthSuccessHandler.java
  src/main/java/com/willingtogohome/gymga/login/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/login/user/model/service/UserService.java
  src/main/java/com/willingtogohome/gymga/pass/model/dto/PassDTO.java
  src/main/java/com/willingtogohome/gymga/sche/controller/ScheController.java
  src/main/java/com/willingtogohome/gymga/schedule/controller/ScheduleController.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dao/ScheduleMapper.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dto/ClassDTO.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dto/ScheduleAndClassAndUserAndPassDTO.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dto/ScheduleDTO.java
  src/main/java/com/willingtogohome/gymga/schedule/model/service/ScheduleService.java
  src/main/java/com/willingtogohome/gymga/user/model/dto/EmpDTO.java
  src/main/java/com/willingtogohome/gymga/user/model/dto/UserDTO.java
  src/main/resources/mappers/ScheduleMapper.xml
  src/main/resources/static/images/back.png
  src/main/resources/static/images/개인수업버튼.png
  src/main/resources/static/images/그룹수업버튼.png
  src/main/resources/static/styles/carendarStyle.css
  src/main/resources/static/styles/navbarStyle.css
  src/main/resources/static/styles/schedule/calendarStyle.css
  src/main/resources/static/styles/schedule/registScheduleStyle.css
  src/main/resources/templates/common/navbar.html
  src/main/resources/templates/schedule/scheduledetail.html
  src/main/resources/templates/schedule/schedulelist.html
  src/main/resources/templates/schedule/schedulemain.html
  src/main/resources/templates/schedule/scheduleregist.html
  src/main/resources/templates/schedule/scheduleupdate.html
  src/main/resources/templates/schedule/script.js
Labels: 🎨 Html&css, :pager: BackEnd

#34 [FEATURE][FACILITY]시설관리3
  .gitignore
  src/main/java/com/willingtogohome/gymga/fac/controller/FacController.java
  src/main/java/com/willingtogohome/gymga/fac/model/dao/FacMapper.java
  src/main/java/com/willingtogohome/gymga/fac/model/dto/FacAndUserDTO.java
  src/main/java/com/willingtogohome/gymga/fac/model/dto/FacDTO.java
  src/main/java/com/willingtogohome/gymga/fac/model/dto/UserDTO.java
  src/main/java/com/willingtogohome/gymga/fac/model/service/FacService.java
  src/main/resources/mappers/FacMapper.xml
  src/main/resources/templates/fac/delete.html
  src/main/resources/templates/fac/regist.html
  src/main/resources/templates/fac/select.html
  src/main/resources/templates/fac/update.html
  src/main/resources/templates/login/admin/admin.html
Labels: ✨ Feature

#41 [FEATURE][FACILITY] 시설관리3
  src/main/java/com/willingtogohome/gymga/fac/controller/FacController.java
  src/main/java/com/willingtogohome/gymga/fac/model/dto/FacAndUserDTO.java
  src/main/java/com/willingtogohome/gymga/fac/model/dto/FacDTO.java
  src/main/java/com/willingtogohome/gymga/fac/model/dto/UserDTO.java
  src/main/resources/templates/fac/select.html
Labels: ✨ Feature

#44 [FEATRUE][LOGIN3] 회원가입CSS 수정
  build.gradle
  src/main/java/com/willingtogohome/gymga/login/auth/controller/AuthController.java
  src/main/java/com/willingtogohome/gymga/login/auth/controller/MainController.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/AuthDetails.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/service/AuthService.java
  src/main/java/com/willingtogohome/gymga/login/common/UserRole.java
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/AuthFailHandler.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/AuthSuccessHandler.java
  src/main/java/com/willingtogohome/gymga/login/user/controller/LoginController.java
  src/main/java/com/willingtogohome/gymga/login/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dao/LoginMapper.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dto/LoginDTO.java
  src/main/java/com/willingtogohome/gymga/login/user/model/service/LoginService.java
  src/main/java/com/willingtogohome/gymga/login/user/model/service/UserService.java
  src/main/resources/mappers/login/LoginMapper.xml
  src/main/resources/static/styles/LoginStyle.css
  src/main/resources/templates/login.html
Labels: 🎨 Html&css

#46 [FEATURE][SCHEDULE][2ST]
  src/main/java/com/willingtogohome/gymga/schedule/controller/ScheduleController.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dao/ScheduleMapper.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dto/EmpDTO.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dto/MemberDTO.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dto/PassTotalDTO.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dto/PassUseDTO.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dto/ScheduleAndClassAndUserAndPassDTO.java
  src/main/java/com/willingtogohome/gymga/schedule/model/service/ScheduleService.java
  src/main/resources/mappers/schedule/ScheduleMapper.xml
  src/main/resources/templates/schedule/scheduledetail.html
  src/main/resources/templates/schedule/schedulelist.html
  src/main/resources/templates/schedule/scheduleregist.html
  src/main/resources/templates/schedule/scheduleupdate.html
Labels: ✨ Feature, :pager: BackEnd

#52 [FEATURE][CSS][basic] header, footer, navbar, main CSS 수정 [VW, VH -> px로 변경]
  src/main/resources/static/styles/footerStyle.css
  src/main/resources/static/styles/headerStyle.css
  src/main/resources/static/styles/mainStyle.css
  src/main/resources/static/styles/myStyle.css
  src/main/resources/static/styles/navbarStyle.css
  src/main/resources/static/styles/schedule/calendarStyle.css
  src/main/resources/static/styles/schedule/carendarStyle.css
  src/main/resources/templates/common/footer.html
  src/main/resources/templates/common/header.html
  src/main/resources/templates/common/navbar.html
  src/main/resources/templates/main.html
  src/main/resources/templates/schedule/schedulemain.html
Labels: 🎨 Html&css

#59 [FEATURE][EMP] 기능 및 css 개선
  src/main/java/com/willingtogohome/gymga/emp/controller/EmpController.java
  src/main/java/com/willingtogohome/gymga/emp/controller/PicController.java
  src/main/java/com/willingtogohome/gymga/emp/model/dao/EmpMapper.java
  src/main/java/com/willingtogohome/gymga/emp/model/service/EmpService.java
  src/main/resources/application.yml
  src/main/resources/mappers/emp/EmpMapper.xml
  src/main/resources/mappers/emp/ScheMapper.xml
  src/main/resources/static/emp/images/default-user.png
  src/main/resources/static/emp/images/emp-regist.png
  src/main/resources/static/emp/images/emp-search.png
  src/main/resources/static/emp/images/icon-back.png
  src/main/resources/static/emp/images/list-is-empty.png
  src/main/resources/static/emp/styles/detailStyle.css
  src/main/resources/static/emp/styles/empPageStyle.css
  src/main/resources/static/emp/styles/mainStyle.css
  src/main/resources/static/emp/styles/registStyle.css
  src/main/resources/static/emp/styles/resultStyle.css
  src/main/resources/static/emp/styles/searchStyle.css
  src/main/resources/static/emp/styles/updateStyle.css
  src/main/resources/templates/emp/detail.html
  src/main/resources/templates/emp/main.html
  src/main/resources/templates/emp/regist.html
  src/main/resources/templates/emp/result.html
  src/main/resources/templates/emp/search.html
  src/main/resources/templates/emp/test.html
  src/main/resources/templates/emp/update.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor, :pager: BackEnd

#60 sales Main 05/12 그래프 데이터베이스 연결, 프로필 사진 연결
  src/main/java/com/willingtogohome/gymga/pass/model/dto/PassDataDTO.java
  src/main/java/com/willingtogohome/gymga/pass/model/dto/PassMonthDTO.java
  src/main/java/com/willingtogohome/gymga/sale/controller/SaleController.java
  src/main/java/com/willingtogohome/gymga/sale/model/common/PrintResult.java
  src/main/java/com/willingtogohome/gymga/sale/model/dao/SaleMapper.java
  src/main/java/com/willingtogohome/gymga/sale/model/service/SaleService.java
  src/main/resources/application.yml
  src/main/resources/mappers/sale/SalesMapper.xml
  src/main/resources/static/styles/salesStyle.css
  src/main/resources/templates/sale/main.html
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#64 [FEATURE][SCHEDULE][UPDATE]
  src/main/java/com/willingtogohome/gymga/schedule/controller/ScheduleController.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dao/ScheduleMapper.java
  src/main/java/com/willingtogohome/gymga/schedule/model/service/ScheduleService.java
  src/main/resources/mappers/schedule/ScheduleMapper.xml
  src/main/resources/static/styles/schedule/modalStyle.css
  src/main/resources/templates/schedule/scheduledetail.html
  src/main/resources/templates/schedule/scheduleupdate.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#70 [feature][user3][selectAll] 회원 전체조회
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/user/model/dao/UserMapper.java
  src/main/java/com/willingtogohome/gymga/user/model/dto/User2DTO.java
  src/main/java/com/willingtogohome/gymga/user/model/dto/UserAndEmpDTO.java
  src/main/java/com/willingtogohome/gymga/user/service/UserService.java
  src/main/resources/mappers/UserMapper.xml
  src/main/resources/static/css/footerStyle.css
  src/main/resources/static/css/headerStyle.css
  src/main/resources/static/css/navbarStyle.css
  src/main/resources/static/css/selectAll.css
  src/main/resources/templates/user/search.html
  src/main/resources/templates/user/selectAll.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#76 [Feature][user3][regist] 신규회원 등록
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/user/model/dao/UserMapper.java
  src/main/java/com/willingtogohome/gymga/user/service/UserService.java
  src/main/resources/mappers/UserMapper.xml
  src/main/resources/static/css/regist.css
  src/main/resources/templates/user/regist.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#79 [Feature][user3][detail] 회원 상세
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/user/model/dto/UserTotDTO.java
  src/main/resources/static/css/selectDetail.css
  src/main/resources/templates/user/selectDetail.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#80 [FEATURE][FACILITY]시설관리4
  src/main/java/com/willingtogohome/gymga/fac/controller/FacController.java
  src/main/resources/templates/fac/select.html
Labels: 🎨 Html&css

#75 [FEATURE][PASS]BE-1
  src/main/java/com/willingtogohome/gymga/emp/controller/EmpController.java
  src/main/java/com/willingtogohome/gymga/pass/controller/PassController.java
  src/main/java/com/willingtogohome/gymga/pass/model/dao/PassMapper.java
  src/main/java/com/willingtogohome/gymga/pass/model/dto/UserDTO.java
  src/main/java/com/willingtogohome/gymga/pass/model/service/PassService.java
  src/main/resources/mappers/pass/PassMapper.xml
  src/main/resources/static/pass/images/icon-back.png
  src/main/resources/static/pass/images/pass-regist.png
  src/main/resources/static/pass/images/pass-select.png
  src/main/resources/static/pass/images/pass-update.png
  src/main/resources/templates/pass/main.html
  src/main/resources/templates/pass/regist1.html
Labels: ✨ Feature, :pager: BackEnd

#91 [FEATURE][USER][DETAIL] 회원상세 페이지
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/user/model/dao/UserMapper.java
  src/main/java/com/willingtogohome/gymga/user/model/dto/UserTotDTO.java
  src/main/java/com/willingtogohome/gymga/user/service/UserService.java
  src/main/resources/mappers/UserMapper.xml
  src/main/resources/static/css/selectDetail.css
  src/main/resources/static/images/painImg.png
  src/main/resources/templates/user/regist.html
  src/main/resources/templates/user/search.html
  src/main/resources/templates/user/selectAll.html
  src/main/resources/templates/user/selectDetail.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#100 [FEATURE][FACILITY]시설관리5
  src/main/java/com/willingtogohome/gymga/fac/controller/FacController.java
  src/main/java/com/willingtogohome/gymga/fac/model/dto/FacAndUserDTO.java
  src/main/resources/mappers/fac/FacMapper.xml
  src/main/resources/static/fac/facSelect.css
  src/main/resources/templates/fac/fac.js
  src/main/resources/templates/fac/select.html
Labels: 🎨 Html&css

#93 [FEATURE][EMP] css 개선 및 기능 추가
  src/main/java/com/willingtogohome/gymga/ResourceConfiguration.java
  src/main/java/com/willingtogohome/gymga/emp/controller/EmpController.java
  src/main/resources/static/emp/styles/empMainStyle.css
  src/main/resources/static/emp/styles/empPageStyle.css
  src/main/resources/static/emp/styles/mainStyle.css
  src/main/resources/templates/common/navbar.html
  src/main/resources/templates/emp/detail.html
  src/main/resources/templates/emp/main.html
  src/main/resources/templates/emp/regist.html
  src/main/resources/templates/emp/result.html
  src/main/resources/templates/emp/resultlist.html
  src/main/resources/templates/emp/search.html
  src/main/resources/templates/emp/searchlist.html
  src/main/resources/templates/emp/selectByName.html
  src/main/resources/templates/emp/selectall.html
  src/main/resources/templates/emp/test.html
  src/main/resources/templates/emp/update.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor, :pager: BackEnd

#112 [FEATURE][USER][PAIN]회원 통증페이지
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/user/model/service/UserService.java
  src/main/java/com/willingtogohome/gymga/user/pain/controller/PainController.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/dao/PainMapper.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/dto/PainDTO.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/service/PainService.java
  src/main/resources/mappers/user/PainMapper.xml
  src/main/resources/mappers/user/UserMapper.xml
  src/main/resources/static/css/pain.css
  src/main/resources/static/css/selectAll.css
  src/main/resources/templates/user/pain/pain.html
  src/main/resources/templates/user/selectDetail.html
  src/main/resources/templates/user/update.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#115 [FEATURE][USER] 회원 페이지
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/user/model/dao/UserMapper.java
  src/main/java/com/willingtogohome/gymga/user/model/service/UserService.java
  src/main/java/com/willingtogohome/gymga/user/pain/controller/PainController.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/dao/PainMapper.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/dto/PainDTO.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/service/PainService.java
  src/main/resources/mappers/user/PainMapper.xml
  src/main/resources/mappers/user/UserMapper.xml
  src/main/resources/static/css/pain.css
  src/main/resources/static/css/regist.css
  src/main/resources/static/css/selectAll.css
  src/main/resources/static/css/selectDetail.css
  src/main/resources/static/css/update.css
  src/main/resources/templates/user/pain/pain.html
  src/main/resources/templates/user/regist.html
  src/main/resources/templates/user/selectAll.html
  src/main/resources/templates/user/selectDetail.html
  src/main/resources/templates/user/update.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#111 [FEATURE][FACILITY]시설관리6
  src/main/java/com/willingtogohome/gymga/fac/controller/FacController.java
  src/main/java/com/willingtogohome/gymga/fac/model/dao/FacMapper.java
  src/main/java/com/willingtogohome/gymga/fac/model/service/FacService.java
  src/main/resources/mappers/fac/FacMapper.xml
  src/main/resources/static/fac/facSelect.css
  src/main/resources/templates/fac/fac.js
  src/main/resources/templates/fac/select.html
Labels: ✨ Feature, 🎨 Html&css

#108 [FEATURE][EMP]address_css
  src/main/java/com/willingtogohome/gymga/ResourceConfiguration.java
  src/main/java/com/willingtogohome/gymga/emp/controller/EmpController.java
  src/main/resources/mappers/emp/EmpMapper.xml
  src/main/resources/static/emp/styles/empPageStyle.css
  src/main/resources/static/uploadFiles/4ef2f001-b04c-4de5-890e-1c8a21066459.webp
  src/main/resources/static/uploadFiles/653b7ae3-d3b2-4856-8e01-bf6a6819789c.jpg
  src/main/resources/templates/emp/detail.html
  src/main/resources/templates/emp/main.html
  src/main/resources/templates/emp/regist.html
  src/main/resources/templates/emp/result.html
  src/main/resources/templates/emp/search.html
  src/main/resources/templates/emp/update.html
Labels: 🎨 Html&css

#116 [FEATURE][LOGIN7]로그인 페이지 기능 완료(아이디 중복체크제외)
  build.gradle
  src/main/java/com/willingtogohome/gymga/login/auth/controller/AuthController.java
  src/main/java/com/willingtogohome/gymga/login/auth/controller/MainController.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/AuthDetails.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/service/AuthService.java
  src/main/java/com/willingtogohome/gymga/login/common/UserRole.java
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/AuthFailHandler.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/AuthSuccessHandler.java
  src/main/java/com/willingtogohome/gymga/login/user/controller/LoginController.java
  src/main/java/com/willingtogohome/gymga/login/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dao/LoginMapper.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dto/LoginDTO.java
  src/main/java/com/willingtogohome/gymga/login/user/model/service/LoginService.java
  src/main/java/com/willingtogohome/gymga/login/user/model/service/UserService.java
  src/main/java/com/willingtogohome/gymga/schedule/controller/ScheduleController.java
  src/main/resources/mappers/login/LoginMapper.xml
  src/main/resources/static/images/chk2.png
  src/main/resources/static/images/findBack.png
  src/main/resources/static/styles/FindStyle.css
  src/main/resources/static/styles/LoginStyle.css
  src/main/resources/templates/common/header.html
  src/main/resources/templates/login.html
  src/main/resources/templates/login/admin/essential1.html
  src/main/resources/templates/login/admin/regist.html
  src/main/resources/templates/login/auth/find.html
  src/main/resources/templates/login/auth/selectby.html
  src/main/resources/templates/main.html
Labels: 🥰 Accessibility, ✨ Feature, 🎨 Html&css, :pager: BackEnd

#128 [FEATURE][EMP]login
  build.gradle
  src/main/java/com/willingtogohome/gymga/emp/controller/EmpController.java
  src/main/java/com/willingtogohome/gymga/login/auth/controller/MainController.java
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/resources/application.yml
  src/main/resources/static/emp/styles/empMainStyle.css
  src/main/resources/static/emp/styles/empPageStyle.css
  src/main/resources/templates/common/header.html
  src/main/resources/templates/emp/detail.html
  src/main/resources/templates/emp/main.html
  src/main/resources/templates/emp/regist.html
  src/main/resources/templates/emp/result.html
  src/main/resources/templates/emp/search.html
  src/main/resources/templates/emp/update.html
Labels: 🎨 Html&css, 🔨 Refactor, :pager: BackEnd

#131 [FEATURE][USER] 회원 페이지
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/user/model/dao/UserMapper.java
  src/main/java/com/willingtogohome/gymga/user/model/service/UserService.java
  src/main/java/com/willingtogohome/gymga/user/pain/controller/PainController.java
  src/main/resources/mappers/user/UserMapper.xml
  src/main/resources/static/css/pain.css
  src/main/resources/static/css/selectDetail.css
  src/main/resources/static/css/update.css
  src/main/resources/templates/common/navbar.html
  src/main/resources/templates/user/pain/pain.html
  src/main/resources/templates/user/regist.html
  src/main/resources/templates/user/selectDetail.html
  src/main/resources/templates/user/update.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#133 [FEATURE][FACILITY]시설관리7
  src/main/java/com/willingtogohome/gymga/fac/controller/FacController.java
  src/main/java/com/willingtogohome/gymga/fac/model/dto/FacDTO.java
  src/main/resources/static/fac/facSelect.css
  src/main/resources/templates/common/navbar.html
  src/main/resources/templates/fac/select.html
Labels: ✨ Feature, 🎨 Html&css

#138 [FEATURE][LOGIN][CheckID]
  src/main/java/com/willingtogohome/gymga/login/user/controller/LoginController.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dao/LoginMapper.java
  src/main/java/com/willingtogohome/gymga/login/user/model/service/LoginService.java
  src/main/resources/mappers/login/LoginMapper.xml
  src/main/resources/templates/login.html
Labels: 🐞 BugFix, ✨ Feature, :pager: BackEnd

#139 [FEATURE][EMP]emp_main_role
  src/main/java/com/willingtogohome/gymga/emp/controller/EmpController.java
  src/main/resources/mappers/emp/ScheMapper.xml
  src/main/resources/static/emp/styles/empMainStyle.css
  src/main/resources/templates/emp/detail.html
  src/main/resources/templates/emp/main.html
  src/main/resources/templates/emp/update.html
Labels: :pager: BackEnd

#141 [FEATURE][USER]id_and_preview
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/resources/mappers/user/UserMapper.xml
  src/main/resources/templates/user/regist.html
  src/main/resources/templates/user/selectDetail.html
  src/main/resources/templates/user/update.html
Labels: 🐞 BugFix, :pager: BackEnd

#146 [FEATURE][EMP]local_exception
  src/main/java/com/willingtogohome/gymga/emp/controller/EmpController.java
  src/main/java/com/willingtogohome/gymga/emp/model/dao/EmpMapper.java
  src/main/java/com/willingtogohome/gymga/emp/model/service/EmpService.java
  src/main/resources/mappers/emp/EmpMapper.xml
  src/main/resources/static/emp/images/sad-icon.png
  src/main/resources/static/emp/images/search-is-fail.png
  src/main/resources/static/emp/styles/empPageStyle.css
  src/main/resources/templates/emp/detail.html
  src/main/resources/templates/emp/error.html
  src/main/resources/templates/emp/regist.html
  src/main/resources/templates/emp/result.html
  src/main/resources/templates/emp/searchfail.html
  src/main/resources/templates/emp/searchlist.html
  src/main/resources/templates/emp/test.html
  src/main/resources/templates/emp/update.html
Labels: 🎨 Html&css, :pager: BackEnd

#147 [FEATURE][EXCEPTION]kwon
  src/main/java/com/willingtogohome/gymga/common/GlobalExceptionHandler.java
  src/main/java/com/willingtogohome/gymga/login/auth/controller/MainController.java
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/CustomAuthenticationEntryPoint.java
  src/main/resources/templates/login.html
Labels: 🥰 Accessibility, 🐞 BugFix

#150 [FEATURE][SCHEDULE][CSS]MODIFY
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/java/com/willingtogohome/gymga/schedule/controller/ScheduleController.java
  src/main/resources/static/styles/schedule/detailStyle.css
  src/main/resources/static/styles/schedule/modalStyle.css
  src/main/resources/templates/schedule/scheduledetail.html
  src/main/resources/templates/schedule/scheduledetailgx.html
  src/main/resources/templates/schedule/schedulemain.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#152 [FEATURE][FACILITY]시설관리8
  src/main/resources/static/fac/facSelect.css
  src/main/resources/static/styles/mainStyle.css
  src/main/resources/templates/common/header.html
  src/main/resources/templates/fac/select.html
Labels: ✨ Feature, 🎨 Html&css

#158 [FEATURE][MAIN]main1
  src/main/java/com/willingtogohome/gymga/login/auth/controller/MainController.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/dao/MainMapper.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/dto/MemberAndPassDTO.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/service/MainService.java
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/resources/mappers/main/MainMapper.xml
  src/main/resources/static/styles/mainPageStyle.css
  src/main/resources/templates/main.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#135 [FEATURE][LOGIN]login_info
  src/main/java/com/willingtogohome/gymga/emp/controller/EmpController.java
  src/main/java/com/willingtogohome/gymga/login/auth/controller/MainController.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/AuthDetails.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/dao/MainMapper.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/service/MainService.java
  src/main/resources/mappers/login/MainMapper.xml
  src/main/resources/static/styles/headerStyle.css
  src/main/resources/templates/common/header.html
  src/main/resources/templates/pass/regist2.html
Labels: :pager: BackEnd

#165 [FEATURE][EXCEPTION]
  src/main/java/com/willingtogohome/gymga/common/ExceptionHandlerController.java
  src/main/java/com/willingtogohome/gymga/common/GlobalExceptionHandler.java
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/java/com/willingtogohome/gymga/login/config/WebConfig.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/CustomAccessDeniedHandler.java
  src/main/java/com/willingtogohome/gymga/login/config/handler/CustomAuthenticationEntryPoint.java
  src/main/java/com/willingtogohome/gymga/schedule/controller/ScheduleController.java
  src/main/java/com/willingtogohome/gymga/schedule/exception/ScheduleNotFoundException.java
  src/main/resources/application.yml
  src/main/resources/static/images/error.png
  src/main/resources/static/styles/errorPageStyle.css
  src/main/resources/templates/error/error.html
  src/main/resources/templates/login.html
  src/main/resources/templates/schedule/scheduledetail.html
  src/main/resources/templates/schedule/scheduledetailgx.html
  src/main/resources/templates/schedule/schedulemain.html
Labels: 🥰 Accessibility, ✨ Feature, 🎨 Html&css, :pager: BackEnd

#167 [FEATURE][EMP]rebuild
  src/main/java/com/willingtogohome/gymga/emp/controller/EmpController.java
  src/main/java/com/willingtogohome/gymga/emp/model/service/EmpService.java
  src/main/java/com/willingtogohome/gymga/login/auth/controller/MainController.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/AuthDetails.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/dao/MainMapper.java
  src/main/java/com/willingtogohome/gymga/login/auth/model/service/MainService.java
  src/main/java/com/willingtogohome/gymga/sale/controller/SaleController.java
  src/main/java/com/willingtogohome/gymga/schedule/controller/ScheduleController.java
  src/main/java/com/willingtogohome/gymga/schedule/model/dao/ScheduleMapper.java
  src/main/java/com/willingtogohome/gymga/schedule/model/service/ScheduleService.java
  src/main/resources/mappers/emp/ScheMapper.xml
  src/main/resources/mappers/main/MainMapper.xml
  src/main/resources/mappers/schedule/ScheduleMapper.xml
  src/main/resources/static/styles/headerStyle.css
  src/main/resources/static/styles/mainPageStyle.css
  src/main/resources/templates/common/header.html
  src/main/resources/templates/emp/detail.html
  src/main/resources/templates/emp/error.html
  src/main/resources/templates/emp/main.html
  src/main/resources/templates/emp/regist.html
  src/main/resources/templates/emp/result.html
  src/main/resources/templates/emp/search.html
  src/main/resources/templates/emp/searchfail.html
  src/main/resources/templates/emp/searchlist.html
  src/main/resources/templates/emp/update.html
  src/main/resources/templates/main.html
  src/main/resources/templates/pass/main.html
  src/main/resources/templates/pass/regist1.html
  src/main/resources/templates/pass/regist2.html
Labels: 🐞 BugFix, 🔨 Refactor, :pager: BackEnd

#169 [FEATURE][PASS-SOOBIN2] 이용권 페이지 수정
  src/main/java/com/willingtogohome/gymga/pass/controller/PassController.java
  src/main/java/com/willingtogohome/gymga/pass/model/service/PassService.java
  src/main/resources/static/styles/passUpdateStyle.css
  src/main/resources/templates/pass/update.html
Labels: 🎨 Html&css

#172 [FEATURE][USER][PAIN] 회원 통증페이지
  src/main/java/com/willingtogohome/gymga/user/pain/controller/PainController.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/dao/PainMapper.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/service/PainService.java
  src/main/resources/mappers/user/PainMapper.xml
  src/main/resources/mappers/user/UserMapper.xml
  src/main/resources/static/css/pain.css
  src/main/resources/static/css/painRegist.css
  src/main/resources/static/images/사진1.png
  src/main/resources/static/images/사진2.png
  src/main/resources/static/images/사진3.png
  src/main/resources/static/images/사진4.png
  src/main/resources/static/images/사진5.png
  src/main/resources/static/images/사진6.png
  src/main/resources/templates/user/pain/detail.html
  src/main/resources/templates/user/pain/regist.html
  src/main/resources/templates/user/pain/update.html
  src/main/resources/templates/user/regist.html
  src/main/resources/templates/user/search.html
  src/main/resources/templates/user/selectAll.html
  src/main/resources/templates/user/selectDetail.html
  src/main/resources/templates/user/update.html
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#173 [FEATURE][FACILITY]시설관리9
  src/main/java/com/willingtogohome/gymga/fac/model/dto/FacDTO.java
  src/main/resources/static/fac/facSelect.css
  src/main/resources/templates/fac/select.html
Labels: ✨ Feature, 🎨 Html&css

#174 [FEATTURE][PASS] XML 변경
  src/main/java/com/willingtogohome/gymga/pass/controller/PassController.java
  src/main/java/com/willingtogohome/gymga/pass/model/dto/SaleDTO.java
  src/main/java/com/willingtogohome/gymga/sale/controller/SaleController.java
  src/main/java/com/willingtogohome/gymga/sale/model/dao/SaleMapper.java
  src/main/java/com/willingtogohome/gymga/sale/model/dto/SaleDTO.java
  src/main/java/com/willingtogohome/gymga/sale/model/service/SaleService.java
  src/main/resources/mappers/pass/PassMapper.xml
  src/main/resources/mappers/sale/SalesMapper.xml
  src/main/resources/static/styles/salesDetailStyle.css
  src/main/resources/templates/pass/update.html
  src/main/resources/templates/pass/updatesearch.html
  src/main/resources/templates/sale/detail.html
  src/main/resources/templates/sale/searchdetail.html
Labels: 🔨 Refactor, :pager: BackEnd

#177 [FEATURE][EMP]login_signup
  src/main/java/com/willingtogohome/gymga/login/user/controller/LoginController.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dao/LoginMapper.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dto/RegistDTO.java
  src/main/java/com/willingtogohome/gymga/login/user/model/service/LoginService.java
  src/main/resources/mappers/login/LoginMapper.xml
Labels: 🐞 BugFix

#180 [FEATURE][FACILITY]시설관리10
  src/main/resources/mappers/fac/FacMapper.xml
  src/main/resources/static/fac/facSelect.css
  src/main/resources/templates/fac/select.html
Labels: ✨ Feature, 🎨 Html&css

#182 [FEATURE][LOGIN9] 아이디 중복체크 / 모달창 변경
  src/main/java/com/willingtogohome/gymga/login/user/controller/LoginController.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dto/LoginDTO.java
  src/main/java/com/willingtogohome/gymga/login/user/model/dto/RegistDTO.java
  src/main/resources/mappers/login/LoginMapper.xml
  src/main/resources/static/styles/LoginStyle.css
  src/main/resources/templates/login.html
  src/main/resources/templates/pass/update.html
  src/main/resources/templates/pass/updatesearch.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor, :pager: BackEnd

#187 [FEATURE][USER]회원 통증 페이지
  src/main/java/com/willingtogohome/gymga/login/config/SecurityConfig.java
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/user/pain/controller/PainController.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/dao/PainMapper.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/dto/PainDTO.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/service/PainService.java
  src/main/resources/mappers/user/PainMapper.xml
  src/main/resources/templates/user/pain/detail.html
  src/main/resources/templates/user/pain/regist.html
  src/main/resources/templates/user/pain/update.html
  src/main/resources/templates/user/selectDetail.html
Labels: :pager: BackEnd

#190 [FEATURE][PASS][SEARCH]CSS
  src/main/java/com/willingtogohome/gymga/pass/controller/PassController.java
  src/main/java/com/willingtogohome/gymga/pass/model/dao/PassMapper.java
  src/main/java/com/willingtogohome/gymga/pass/model/dto/PassCountDTO.java
  src/main/java/com/willingtogohome/gymga/pass/model/service/PassService.java
  src/main/resources/mappers/pass/PassMapper.xml
  src/main/resources/static/styles/pass/detail.css
  src/main/resources/static/styles/passUpdateStyle.css
  src/main/resources/templates/pass/passlist.html
  src/main/resources/templates/pass/selectDetail.html
Labels: 🎨 Html&css, :pager: BackEnd

#193 [FEATURE][PAIN] 회원 통증 페이지
  src/main/java/com/willingtogohome/gymga/user/controller/UserController.java
  src/main/java/com/willingtogohome/gymga/user/pain/controller/PainController.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/dao/PainMapper.java
  src/main/java/com/willingtogohome/gymga/user/pain/model/service/PainService.java
  src/main/resources/mappers/user/PainMapper.xml
  src/main/resources/static/css/regist.css
  src/main/resources/static/css/selectAll.css
  src/main/resources/static/css/selectDetail.css
  src/main/resources/static/css/update.css
  src/main/resources/templates/pain/detail.html
  src/main/resources/templates/pain/regist.html
  src/main/resources/templates/pain/update.html
  src/main/resources/templates/user/regist.html
  src/main/resources/templates/user/selectAll.html
  src/main/resources/templates/user/selectDetail.html
  src/main/resources/templates/user/update.html
Labels: :pager: BackEnd

#196 [FEATURE][PASS][CSS] 이용권 메인 페이지
  src/main/resources/static/pass/styles/passPageStyle.css
  src/main/resources/templates/pass/main.html
Labels: 🎨 Html&css

#197 [FEATURE][SALE][DETAIL, CSS]
  src/main/resources/mappers/sale/SalesMapper.xml
  src/main/resources/static/styles/salesDetailStyle.css
  src/main/resources/templates/sale/searchdetail.html
Labels: 🎨 Html&css, :pager: BackEnd

#198 [FEATURE][PASS][SEARCH][HOTFIX]
  src/main/resources/mappers/pass/PassMapper.xml
  src/main/resources/static/uploadFiles/1bef2dda-83f4-4050-81fd-c23b3b82265e.jpg
  src/main/resources/static/uploadFiles/8953fce3-4550-4847-81f5-523860004352.jpeg
  src/main/resources/static/uploadFiles/fef14156-3840-425e-98ba-a915b06ce6f7.jpg
  src/main/resources/templates/pass/listsearch.html
  src/main/resources/templates/pass/passlist.html
Labels: :pager: BackEnd

#200 [FEATURE][FACILITY]시설관리11
  src/main/resources/static/fac/facSelect.css
  src/main/resources/templates/fac/select.html
Labels: ✨ Feature, 🎨 Html&css

#201 [FEATURE][PASS]image
  src/main/resources/static/styles/pass/detail.css
  src/main/resources/templates/pass/selectDetail.html
Labels: 🎨 Html&css, :pager: BackEnd

#202 [FEATURE][SALE] IMAGE
  src/main/java/com/willingtogohome/gymga/sale/controller/SaleController.java
  src/main/resources/static/styles/salesStyle.css
Labels: 🎨 Html&css

#206 [HOTFIX][SCHEDULE]
  src/main/java/com/willingtogohome/gymga/pass/controller/PassController.java
  src/main/java/com/willingtogohome/gymga/schedule/controller/ScheduleController.java
  src/main/resources/mappers/schedule/ScheduleMapper.xml
  src/main/resources/templates/pass/listsearch.html
  src/main/resources/templates/pass/main.html
  src/main/resources/templates/pass/passlist.html
  src/main/resources/templates/pass/selectdetail.html
  src/main/resources/templates/schedule/scheduledetail.html
  src/main/resources/templates/schedule/scheduledetailgx.html
  src/main/resources/templates/schedule/schedulemain.html
Labels: 🔨 Refactor, :pager: BackEnd
